
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
    <div class="comment-individual">
      <div class="comment-img-trim box"><%=profile_img(comment.user) %></div>
      <p class="left"><%= comment.user.name %> <%= comment.content %></p>
      <% if current_user.id == comment.user.id %>
        <p class="right"></p>
      <% end %>
    </div>
    <% end %>
  <% end %>
