<ul>
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <li>
        <p class="left"><%= comment.user.name %> <%= comment.content %></p>
        <% if current_user.id == comment.user.id %>
        <p class="right">
        </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
