<div class="container">
  <div class="wrapper">
    <h2>お知らせ</h2>
    <ul>
      <% @notifications.each do |notification| %>
        <!-- 自分のコメントは除外 -->
        <% unless notification.user_id == notification.comment.user_id %>
          <hr>
            <!-- <li> -->
          <span><% notification.read %></span>
          <p>
            <% if notification.read %>
              <p class="label label-default">既読</p>
            <% else %>
              <p class="label label-primary">未読</p>
            <% end %>
            <%= notification.comment.user.try(:name) %>さんが
            <%= link_to "あなたの投稿",topic_path(notification.comment.topic,notification_id: notification.id) %>にコメントしました。
          </p>
          <p><%= notification.created_at %></p>
            <!-- </li> -->
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
