// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
  max-width: 100%;
}

/* 高さに合わせてリサイズ、はみ出た分をトリミング */
.user-trim {
  height: 50px;
  width:50px;
  border: 1px solid #ccc;
  overflow: hidden;
  img {
    position: relative;
    // top: 50%;
    // left: 50%;
    width: auto;
    height: 50px;
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
  }
}

.box{
  float:left;
  // textarea{
  //   width: 100px
  // }
}

.box-right{
  float:right;
}

.boxContainer{
  overflow: hidden;
}

.topics{
  .wrapper {
    margin-bottom: 74px;
  //   padding: 20px 20px 20px 35px;
    .row {
      // border : 1px solid #ccc;
      // padding: 20px;
      text-align: left;
      word-wrap: break-word;
    }

    .post-block{
      border: 1px solid #ccc;
      padding: 10px;
    }

    .tweet-block{
      border: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .timeline{
      margin:0px;
      padding:15px;
      border : 1px solid #ccc;
      border-radius: 5px;
  }

  input[type="submit"].btn-block{
    margin: 15px 0;
  }

  .container{
    padding-bottom: 85px;
  }

  textarea{
      width: 100%;
  }

  .blog-author {
    padding: 10px;
    // border-bottom: 1px solid #ccc;
    // img{
    //   width: 50px;
    //   height: auto;
    //   float: left;
    //   margin-right: 10px;
    // }
  }

  .blog-picture{
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .blog-content{
    padding: 5px;
    font-size: medium;
  }

}

.blog-button{
  margin: 5px;
}

//コメント一覧とコメント入力欄全体
.comment-block{
  border-top: 1px solid #ccc;
}

//コメント欄ユーザー画像
.comment-img-trim {
  height: 30px;
  width:30px;
  border: 1px solid #ccc;
  overflow: hidden;
  img {
    position: relative;
    width: auto;
    height: 30px;
  }
}

//コメント一件ごと
.comment-individual{
  padding: 5px 10px;
  background-color: #eeeeee;
}

//コメント入力欄
.comment-form{
  padding: 5px 10px;
  background-color: #eeeeee;
  .image-box{
    float: left;
  }
  .form-box{
    float:left;
  }
  // .btn-box{
  //   float: right;
  // }
}

.clearfix:after{
  display: block;
  clear: both;
  content: "";
}

 .navbar-default {
   border: 0;
 }

 .navbar {
   background-color: transparent;
   color: #ffffff;
   margin-bottom: 0px;
 }

 .navbar-default {
   background-color: #1e4682;
   border-radius: 0;
   .navbar-brand {
     color: #ffffff;
     &:hover{
       color: #ffffff;
     }
   }
   .navbar-nav > li > a {
     color: #ffffff;
     &:hover, &:focus {
       color: #ffffff;
     }
   }
   .navbar-nav > .open > a {
     background-color: transparent;
     color: #ffffff;
     &:hover, &:focus{
       background-color: transparent;
       color: #ffffff;
     }
   }
 }
 @media (max-width: 767px) {
 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #ffffff;
     text-align: center;
     &:hover, &:focus {
       color: #ffffff;
     }
   }
   .navbar-default .navbar-toggle {
     background-color: transparent;
     &:hover, &:focus {
       background-color: transparent;
     }
   }
 }

 .navbar-collapse {
   background-color: #1e4682;
 }

.btn {
  border-radius: 2px;
}

body{
  text-align: center;
  margin-top: 70px;
}
